@import "tailwindcss";

@keyframes fadeUp {
  0% {
    transform: translateY(20px); 
    opacity: 0;
  }
  100% {
    transform: translateY(0); 
    opacity: 1;
  }
}

.animate-fade-up {
  animation: fadeUp 0.4s cubic-bezier(0.25, 1, 0.5, 1) forwards;
}
